{% extends "base.html" %}

{% block content %}
<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 shadow-sm">
        <div class="card-body p-4">
          <h2 class="fw-bold mb-1">Delete Property</h2>
          

          <form method="POST" novalidate>
            {% csrf_token %}
            <p class="text-muted mb-4">
  Are you sure you want to delete "<strong>{{ property.title }}</strong>"? This action cannot be undone.
            </p>
           

            <div class="d-flex justify-content-between mt-4">
              <a href="{% url 'my_properties' %}" class="btn btn-outline-secondary">
                Cancel
              </a>

              <button type="submit" class="btn btn-danger">
                Yes,Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}